body {
    background: url(https://images.pexels.com/photos/734973/pexels-photo-734973.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=1280&w=1920) 0 0 no-repeat fixed #00468bd7;
    background-blend-mode: multiply;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 0px;
    margin: 0px;
}

main {
    width: 80%;
    max-width: 500px;
    margin: auto;
    padding: 5px 5% 5px 5%;
    background-color: #00458b63;
}

form {
    width: 95%;
    margin: auto;
    padding-bottom: 10px;
}

h1 {
    text-align: center;
    font-weight: 700;
}

p {
    text-align: center;
    font-weight: 500;
}

#warning {
    font-weight: 300;
}

label {
    font-weight: 500;
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #F25F11;
}

textarea {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 15px;
    height: 100px;
    resize: vertical;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    background-color: #F25F11;
    border-color: #F25F11;
    border-radius: 25px;
    color: white;
    font-size: 1rem;
    width: 80%;
    height: 50px;
    margin: auto;
    cursor: pointer;
}

button:hover {
    background-color: #d4510a;
}

.input-element {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    padding: 7px;
}

.block {
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
}

.options {
    margin-top: 10px;
    margin-bottom: 5px;
}